h1, .h1 {
  font-size: var(--font-size-xxl);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: var(--spacing-md);
}

h2, .h2 {
  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: var(--spacing-md);
}

h3, .h3 {
  font-size: var(--font-size-lg);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: var(--spacing-sm);
}

p {
  margin-bottom: var(--spacing-md);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-error {
  color: var(--color-error);
}

.text-center {
  text-align: center;
}

.text-caption {
  font-size: var(--font-size-xs);
  color: var(--color-text-secondary);
}

.text-subtitle {
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
} 